<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Spec Runner</title>

  <%= stylesheet_link_tag    "jasmine/jasmine" %>
  <%= javascript_include_tag "test_track/jasmine_suite" %>
  <% if TestTrack.include_sinon %>
    <%= javascript_include_tag 'sinon/sinon-1.1.1' %>
    <%= javascript_include_tag 'sinon/jasmine-sinon' %>
  <% end %>

  <%= javascript_include_multiple TestTrack.application_manifest %>
  <%= javascript_include_tag TestTrack.jasmine_manifest %>

  <script type="text/javascript">
    (function() {
      var jasmineEnv = jasmine.getEnv();
      jasmineEnv.updateInterval = 1000;

      var trivialReporter = new jasmine.TrivialReporter();

      jasmineEnv.addReporter(trivialReporter);

      jasmineEnv.specFilter = function(spec) {
        return trivialReporter.specFilter(spec);
      };

      var currentWindowOnload = window.onload;

      window.onload = function() {
        if (currentWindowOnload) {
          currentWindowOnload();
        }
        execJasmine();
      };

      function execJasmine() {
        jasmineEnv.execute();
      }

    })();
  </script>

</head>

<body>
</body>
</html>
